<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sistema com Abas</title>
  <link rel="stylesheet" href="CSS/style_inicial.css" />
</head>
<body>

  <nav class="navbar">
    <ul class="menu">
      <li class="menu-item">
        Caixa
        <ul class="submenu">
          <li><a href="#">Registro mensal</a></li>
          <li><a href="#">Contas a Pagar</a></li>
          <li><a href="#">Contas a Receber</a></li>
          <li><a href="#">Em caixa</a></li>
        </ul>
      </li>

      <li class="menu-item">
        Relatório
        <ul class="submenu">
          <li><a href="#">Emissão de relatórios</a></li>
        </ul>
      </li>

      <li class="menu-item">
        Calendário
        <ul class="submenu">
          <li><a href="#">Calendário de pagamento</a></li>
          <li><a href="#">Calendário pagamento equipe</a></li>
        </ul>
      </li>
      <li class="menu-item">
        Sair
        <ul class="submenu">
          <li><a href="index.html">Sair</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <main class="conteudo">
    <h1>Sistema de Gestão</h1>
    <p>Escolha uma opção no menu acima.</p>
  </main>

</body>
</html>
